* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: poppins;
    color: #232E52;
}

::-webkit-scrollbar{
  width: 10px;
}

::-webkit-scrollbar-track{
  background: none;
}

::-webkit-scrollbar-thumb{
  background: rgb(179, 179, 179);
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover{
  background: rgb(150, 150, 150);
}

.header {
    width: 95vw;
    height: 25rem;
    /* flex-shrink: 0; */
    border-radius: 0.5rem;
    background: #232e52;
    display: flex;
    flex-direction: column;
    margin: 1rem auto;
    justify-content: space-between;
    align-items: center;
}

.content-main {
    width: 70%;
    color: white;
    font-family: Graphik;
    font-size: 52px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 62.4px */
    letter-spacing: -1.56px;
    margin-bottom: 5rem;
}

.nav-bar {
    width: 95vw;
    margin: 1rem auto 0 auto;
    background: #232e52;
    border-radius: 0.5rem;
    height: 4rem;
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}

.nav-bar .title {
    margin: auto 1rem;
    color: white;
    font-weight: 700;
    letter-spacing: 0.1rem;
    font-size: 1.5rem;
}

.links ul {
    display: flex;
    gap: 2rem;
    list-style-type: none;
}

.links ul li a {
    text-decoration: none;
    color: white;
    /* transition: all 0.2s ease; */
}

.hover:hover {
    text-decoration: underline;
    color: rgba(255, 255, 255, 0.734);
}

.btn-primary {
    height: 2rem;
    width: 5rem;
    color: white;
    margin-right: 1rem;
    background: #ffffff3d;
    border-radius: 0.5rem;
    /* font-weight: 600; */
    font-style: normal;
    border: none;
}

.btn-primary:hover {
    background: #ffffff6e;
    cursor: pointer;
}

.transition {
    transition: all 0.2s ease;
}

.container {
    /* border: 2px solid; */
    width: 70vw;
    display: block;
    margin: 2rem auto;
}

.container h2 {
    font-size: 2rem;
}

.tile {
    width: 100%;
    /* border: 2px solid red; */
    height: 15rem;
    margin-top: 3rem;
}

.tag {
    background: #b0c6ec;
    padding: 0.31rem;
    border-radius: 0.3rem;
    font-size: 0.8rem;
    font-weight: 600;
}

.date {
    margin-left: 2rem;
    font-size: 0.8rem;
    font-weight: 500;
}

.tile h3 {
    margin-top: 1rem;
    font-weight: 800;
    font-size: 1.6rem;
}

.tile-body {
    /* border: 2px solid; */
    /* width: 70%; */
    display: flex;
    gap: 1rem;
    height: 13rem;
}

.tile-body .content {
    width: 70%;
}

.tile-body .image {
    /* border: 2px solid red; */
    background: url('./images/blog-image.png') no-repeat ;
    width: 30%;
    background-size: cover;
}

.main-heading{
  font-size: 3rem;
  margin-bottom: 2rem;
}

.paragraph{
  margin-bottom: 3rem;
}

.img-blog{
  max-width: 70vw;
}

.back{
    font-size: 2rem;
    position: sticky;
    left: 3rem;
    top: 1rem;
    cursor: pointer;
}