@media screen and (max-width: 450px) {
    .nav-bar {
        position: relative;
    }
    .links ul {
        position: absolute;
        /* background: pink; */
        top: 60px;
        width: 95vw;
        left: 0px;
        height: 0;
        overflow: hidden;
        justify-content: center;
        transition: height 0.3s ease;
    }
    .arrow {
        display: block;
        color: white;
        /* cursor: pointer; */
        font-size: 1.5rem;
        transition: transform 0.3s ease;
    }
    .search-box{
        padding:0 2rem;
    }
    .btn-box {
        position: absolute;
        right: 0;
        top: 65px;
        /* background: red; */
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        transition: transform 0.5s ease;
        transform: translateX(100%);
    }
    .btn-primary{
        font-size: 1.1rem;
    }
    .tile-body{
        flex-direction: column-reverse;
        height: fit-content;
    }
    .tile-body .image{
        width: 100%;
    }

    .tile-body .content{
        width: 100%;
    }
    .img-blog{
        max-width: 100%;
    }
    .image-main{
        width: 100%;
        margin: 1rem auto;
    }
    .container{
        width: 80vw;
    }
    .link{
        font-size: 1.5rem;
        margin-top: 1.5rem;
    }
}
